div.overlay{width:100%;height:100%;z-index:100001;background-color:#000;opacity:0.7;filter:alpha(opacity=70);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";position:fixed;top:0;left:0;	margin:0;	padding:0;display:none}
div.modal{position:absolute;z-index:100002;background:#fff;padding:30px 30px 35px;display:none}
div.modal .closeModalLayer{position:absolute;right:30px;top:25px;z-index:100004}
div.modal .closeModalLayer img{width:25px;z-index:100003}

/*개인정보취급방침*/
#privacy{width:1000px;height:650px;display:none}
#privacy h4{font-size:28px;font-weight:500;border-bottom:2px solid #464646;padding-bottom:15px}
#privacy h5{font-weight:500}
#privacy .privacy_wrap{box-sizing:border-box;width:100%;height:570px;overflow-y:scroll;border:1px solid #d3d3d3;margin-top:20px;padding:25px}
#privacy .privacy_wrap p{width:100%;float:left;font-size:15px;font-weight:300;color:#333333}
#privacy .category_list{width:100%;float:left;box-sizing:border-box;border:1px solid #d3d3d3;padding:15px 25px;margin:20px 0}
#privacy div.category_list ul.category_list01, #privacy div.category_list ul.category_list02{width:49%;float:left}
#privacy div.category_list ul.category_list02{box-sizing:border-box;padding-left:50px}
#privacy div.category_list ul li{background:url('/images/icon/icon_g.gif') no-repeat 0 13px;padding-left:10px}
#privacy div.category_list ul li a{font-size:15px;font-weight:300;letter-spacing:0;color:#333333}
#privacy div.category_list ul li a:hover{color:#5da62b}
#privacy .privacy_cont{width:100%;float:left}
#privacy .privacy_cont h6{width:100%;float:left;font-size:16px;font-weight:500}
#privacy .privacy_cont p{padding-top:5px}
#privacy .privacy_cont p.txt_line{border-bottom:1px dashed #d3d3d3;padding-bottom:15px;margin-bottom:10px}

#privacy .privacy_list{box-sizing:border-box;width:100%;float:left;border:1px solid #d3d3d3}
#privacy .privacy_list ul{box-sizing:border-box;width:50%;float:left;padding:25px}
#privacy .privacy_list ul.ul_line{border-left:1px solid #d3d3d3}
#privacy .privacy_list ul li{font-size:15px;font-weight:300;background:url('/images/icon/icon_b.gif') no-repeat 0 13px;padding-left:15px}

#privacy .privacy_txt{box-sizing:border-box;width:100%;float:left}
#privacy .privacy_txt li{padding-bottom:10px}
#privacy .privacy_txt span{position:relative;top:5px;width:20px;float:left;font-size:15px;font-weight:300;color:#333333}
#privacy .privacy_txt p{width:900px;float:left}

#privacy .privacy_table td{box-sizing:border-box;text-align:left;padding-left:30px}


/*이메일*/
#mail{width:1000px;height:330px;display:none}
#mail h4{font-size:28px;font-weight:500;border-bottom:2px solid #464646;padding-bottom:15px}
#mail .mail_box{box-sizing:border-box;border:1px solid #d3d3d3;margin-top:20px;padding:25px}
#mail .mail_box p, #mail .mail_box ul li{font-size:15px;font-weight:300;letter-spacing:0}
#mail .mail_box p strong{width:100%;float:left;font-weight:bold;font-weight:600;padding:20px 0 10px 0}

/*아파트재도장*/
.content_wrap2 {float:left;width:99.5%;margin-top:30px;}
.content_wrap2 h2 {font-size:22px;font-weight:500;color:#505050;background:url(/images/sub/tit_line.gif) no-repeat left top;padding-top:10px;}
.content_wrap2 .form_table {width:100%;margin-bottom:90px;margin-top:20px;border-collapse:collapse;border-top:1px solid #464646;border-bottom:1px solid #464646;}
.content_wrap2 .form_table:last-of-type {margin-bottom:10px;}
.content_wrap2 .form_table .address input {margin-bottom:5px;}
.content_wrap2 .form_table .address input:last-child {margin-bottom:0px;}
.content_wrap2 .form_table .address input:read-only {background-color:#fafafa;}
.content_wrap2 #findJuso {background-color:#888 !important;color:white;width:100px;text-align:center;cursor:pointer;border:none;}
.content_wrap2 input {border:1px solid #ddd;width:225px;height:40px;}
.content_wrap2 select {border:1px solid #ddd;width:200px;height:40px;padding:5px 15px !important;}
.content_wrap2 th {border-bottom:1px dotted #ccc;padding-left:20px;background-color:#fff;text-align:left;font-weight:500;}
.content_wrap2 td {border-top:0px;border-bottom:1px dotted #ccc;padding:12px 0px;}
.content_wrap2 #tel1, #tel2, #tel3 {width:100px;}
.content_wrap2 #tel1 {background: url('/images/common/down_btn.png') no-repeat 75px center #ffffff;}
.content_wrap2 .email select {background: url('/images/common/down_btn.png') no-repeat 125px center #ffffff;width:150px;}
.content_wrap2 .addr {width:99% !important;}
.content_wrap2 #postcode {width:120px;margin-right:2px;}
.content_wrap2 #postcode:focus {outline:none;}
.content_wrap2 #address:focus {outline:none;}
.content_wrap2 textarea {border:1px solid #ddd;width:94.5%;padding:15px;}
.content_wrap2 input[type=radio] {width:15px;height:15px;margin-bottom:6px;}
.content_wrap2 input[type=checkbox] {width:15px;height:15px;margin-bottom:20px;}
.content_wrap2 p {font-size:14px;}
.content_wrap2 .security .refreshBtn {width:100px; background:#888; text-align:center; border:none; color:white;}
.content_wrap2 .security img#imgCaptcha {border:1px solid #ddd; box-sizing:border-box; width:100px; height:40px;}
.content_wrap2 .agrOffer {text-align:center;}
.content_wrap2 .agrOffer td {border-right:1px dotted #ddd;}
.content_wrap2 .agrOffer td:last-of-type {border-right:none;}
.content_wrap2 .agrOffer .agrTr {background:#efefef;}
.content_wrap2 .agrOfferCheck {text-align:right;}
.content_wrap2 .agrCheckYN {margin:20px 0px;}
.content_wrap2 .submitForm {text-align:center;}
.content_wrap2 .submitForm input[type="button"] {text-align:center;background-color:#5da62b;border:none;font-size:18px;color:white;width:145px;height:50px;cursor:pointer;}

.essential {color:#e60011 !important; position:relative; top:3px; margin-left:2px; font-weight:300;}